//my content section design
.my-content-section {
  columns: 3;
  width: 98%;
  margin: auto;
  padding: 0 20px;

  @media (max-width: 1000px) {
    columns: 2;
  }

  @media (max-width: 768px) {
    columns: 2;
  }

  @media (max-width: 480px) {
    columns: 1;
  }
}

.my-content-scroll {
  overflow: auto;
}

.account-status {
  width: 80px;
  height: 80px;
}

.action-buttons {
  justify-content: center;
  @media (max-width: 400px) {
    flex-direction: column;
    width: 100%;
  }
}

.add-btn-social-skill {
  height: 35px;
}
.list-group-item {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
