.admin-dashboard {
  .left-sidebar {
    .menu {
      height: calc(100vh - 140px);
      overflow-y: auto;

      li {
        color: #fff;

        &:hover {
          color: #333 !important;
        }
      }
    }
  }
}
