.navbar {
  top: 0;
  z-index: 999;

  .navbar-nav {
    li {
      font-size: 15px;
    }
  }

  //nav right side design
  .nav-right {
    gap: 40px;

    .menu-icons {
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;
    }

    .grid-icon {
      background-image: url("../../assets/icons/grid-icon.svg");
      background-size: 17px;
    }

    //notification menu desgin
    .notification {
      cursor: pointer;
      .notification-icon {
        background-image: url("../../assets/icons/bell.svg");
        background-size: 17px;
      }
      .badge {
        top: -2px;
        width: 21px;
        height: 21px;
        background-color: red;
      }
    }

    //my account menu desgin
    .my-account {
      cursor: pointer;

      .text-white {
        font-size: 13px;
        margin-right: 5px;
      }
      .avater-icon {
        background-image: url("../../assets/icons/user-avater.svg");
        background-size: 19px;
      }
    }
  }
  //dropdown-box
  .grid-dropdown-box,
  .notification-dropdown-box,
  .account-dropdown-box {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    z-index: 100;
    top: 50px;
    border-radius: 16px;
    padding: 8px 12px;
  }
  li {
    color: #37495c;
    cursor: pointer;
    margin: 0;
  }

  //grid dropdown-box
  .grid-dropdown-box {
    right: 10px;
    width: 225px;

    ul {
      gap: 10px;
      li {
        border: 1px solid #b0bdc6;
        border-radius: 5px;
        width: 95px;
        font-size: 14px;
        padding: 5px;
      }
    }
  }

  //notification dropdown-box
  .notification-dropdown-box {
    right: 10px;
    width: 300px;

    .notification-list {
      max-height: 300px;
      overflow-y: auto;

      ul {
        li {
          padding: 10px 5px;
          border-radius: 6px;
          width: 100%;
          font-weight: normal;

          &:hover {
            background-color: #f3f4f5;
          }
        }
      }
    }
  }

  //my account dropdown-box
  .account-dropdown-box {
    right: 10px;
    width: 200px;

    .menu-list {
      li {
        padding: 6px 15px;
        font-weight: normal;
        border-radius: 20px;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        opacity: 1;

        &:hover {
          background-color: #f3f4f5;
        }

        i {
          color: #37495c;
          margin-right: 8px;
          font-size: 18px;
        }
      }

      .log-out-btn {
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
