nav {
  .site-logo {
    width: 50px;
    cursor: pointer;
  }

  .login-mobile-device {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  ul {
    li {
      margin-right: 23px;
      font-weight: 600;

      a {
        color: #fff !important;
      }
    }
  }

  .hire-us-btn {
    width: 135px;
    height: 37px;
    font-style: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #be6ee5;
      opacity: 1;
    }
    a {
      padding: 0 !important;
    }
  }
  form {
    width: 30%;

    input {
      border-radius: 0;

      &::placeholder {
        color: #fff !important;
      }

      &::-webkit-search-cancel-button {
        appearance: none;
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem;
        background-image: url("../../assets/icons/search-clear.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
      }

      &:focus {
        border: none !important;
        border-right: 1px solid #fff !important;
      }
    }

    button {
      border-radius: 0 20px 20px 0 !important;

      &:hover {
        background-color: #be6ee5 !important;
      }

      .search {
        background-image: url("../../assets/icons/search-white.svg");
        background-size: 20px;
        width: 22px;
        height: 22px;
      }
    }
  }

  .user-profile {
    margin-left: 35px;
    cursor: pointer;
    .avater {
      background-image: url("../../assets/icons/user.svg");
      background-size: 25px;
      width: 30px;
      height: 30px;
    }
  }
}
