.content-upload-modal {
  .btn-close {
    background-image: url("../../../assets/icons/close.svg");
  }

  //left side design
  .left-side {
    gap: 23px;

    .thumbnail {
      width: 100%;

      .thumbnail-label {
        width: 100%;
        height: 250px;
        font-weight: 600;
      }
      .thumbnail-img {
        height: 250px;
        width: 100%;
        height: 250px;
        object-fit: contain;
      }
    }

    .title {
      input {
        border: 1px solid;
        padding: 8px 5px;

        &::placeholder {
          text-align: center;
        }

        &:focus {
          border: 1px solid #7728fe !important;
          background-color: #fff;
        }
      }
    }

    //catagory list design
    .custom-select {
      width: 100%;
      border: 1px solid #b0bdc6 !important;
      border-radius: 5px;
      background-color: #f3f4f5;
    }

    //keywords design
    .keywords-list {
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
      .rti--container {
        background-color: #f3f4f5;
        border-color: #b0bdc6;
        color: #37495c;
        min-height: 85px;
        align-items: flex-start;
        max-height: 85px;
        overflow: auto;

        &:focus-within {
          background-color: #fff !important;
          box-shadow: none;
          border-color: #7728fe;

          .rti--tag {
            background-color: #f3f4f5;
          }
        }

        .rti--tag {
          border-radius: 20px;
          background-color: #fff;

          span {
            margin-left: 9px;
          }
        }
      }

      .rti--container * {
        transition: none;
      }

      .rti--input {
        background-color: #f3f4f5;
        border-radius: 7px;
        width: 100%;
        height: 65px;

        &::placeholder {
          text-align: center;
        }

        &:focus {
          background-color: #fff !important;
          width: 50%;
          height: auto;

          &::placeholder {
            color: #fff;
          }
        }
      }

      p {
        font-size: 13px;
        margin-top: 2px;
      }
    }
  }

  //right side design
  .right-side {
    gap: 30px;

    //upload file design
    .upload-main-file {
      .upload-container {
        border: 1px dashed #7728fe;
        background-color: #f3f4f5;

        &:hover {
          background-color: #fff;
          cursor: pointer;
        }

        #label-file-upload {
          cursor: pointer;
          .upload-logo {
            width: 90px;
            height: 50px;
            background-size: 50px;
          }
        }
        .upload-logo {
          background-image: url("../../../assets/icons/upload.svg");
        }

        #drag-file-element {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
        }
      }

      .uploaded-file-list {
        max-height: 355px;
        overflow: auto;

        @media (max-width: 991px) {
          max-height: 200px;
        }

        .upload-file-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  //same side design
  .left-side,
  .right-side {
    padding: 0 30px;
  }

  //maximum file text design
  .limit-file-size {
    font-size: 13px;
    font-weight: normal;
  }
}
