.content {
  width: 100%;
  max-height: 500px;
  border-radius: 7px;
  margin-bottom: 15px;
  break-inside: avoid;
  cursor: pointer;
  position: relative;

  &:hover {
    .content-img {
      filter: brightness(90%);
      transition: 0.3s;
    }

    .tool-tip-container {
      display: flex;
    }
  }

  .content-img {
    border-radius: 5px;
  }

  .tool-tip-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;

    .tool-tip {
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        .text {
          display: block;
        }
      }

      .text {
        background-color: #fff;
        padding: 5px 8px;
        border-radius: 5px;
        display: none;

        &::after {
          content: " ";
          position: absolute;
          right: 39px;
          top: 9px;
          border-top: 8px solid transparent;
          border-right: none;
          border-left: 8px solid #fff;
          border-bottom: 8px solid transparent;
        }
      }

      .love-text {
        &::after {
          top: 51px;
        }
      }

      .svg-icon {
        width: 1.3rem;
        height: 1.3rem;
        background-size: 20px;
        padding: 17px;
        border-radius: 8px;
        background-color: #fff;

        &:hover {
          background-color: #f3f4f5;
        }
      }

      .collection-icon {
        background-image: url("../../assets/icons/collection.svg");
      }
      .love-icon {
        background-image: url("../../assets/icons/love.svg");
      }
      .fa-heart {
        color: red;
        font-size: 20px;
      }
    }
  }
}
