.review-pending-content {
  //left side
  .left-side {
    gap: 18px;
    .thumbnail {
      img {
        height: 250px;
        object-fit: contain;
      }
    }

    .keywords-list {
      .tags-list {
        max-height: 110px;
        li {
          width: fit-content;
          height: 30px;
          padding: 5px 10px;
          padding-top: 3px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  //right side
  .right-side {
    .added-files {
      gap: 15px;
      max-height: 355px;
      overflow-y: auto;
    }
  }
}

.btn-reject {
  &:hover {
    background-color: red !important;
  }
}
