.message-list {
  tr {
    border: 1px solid #b0bdc6;
  }
  th {
    padding: 0px 30px;
  }
  td {
    color: #96a7b2;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 30px;
    cursor: pointer;

    .message-icon {
      background-image: url("../../assets/icons/email.svg");
      width: 1.3rem;
      height: 1.3rem;
      background-size: 20px;

      .message-notification {
        width: 11px;
        height: 11px;
        background-color: red;
        right: -5px;
      }
    }
  }
  .seen {
    color: #96a7b2;
  }
}
